@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Catamaran', sans-serif!important;
}


/* nav stuff */
.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 50px; 
}

.menu li {
  display: inline-block;
  margin: 0 30px;
  color: whitesmoke;
  font-size: 19px;
  letter-spacing: 0.03em;
}

.menu li:hover{
  color: rgb(93, 142, 216);
}

.menu a {
  text-decoration: none;
}

.nav-wrap {
  margin: 0px;
  padding: 8px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  position: sticky;
  top: 0px;
}


#nav-icon {
  display: none;
  cursor: pointer;
  width: 34px;
  height: 34px;
  background-image: url("/menu(1).png");
  background-repeat: no-repeat;
  background-size: cover;
  
}

@media screen and (max-width: 937px) {
  .nav-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px;
  }

  #nav-icon {
    display: block;
    cursor: pointer;
    width: 25px;
    height: 25px;
    position: relative;
    top: 0px;
    
  }

  #nav-icon.menu-close {
    background-image: url("/cancel(1).png");
  }

  #top-nav {
    flex-basis: 100%;
    /* margin-top: 10px; */
    display: none;
  }

  #top-nav.nav-active {
    display: block;
  }

  .menu li{
    display: block;
    margin: 0;
    font-size: 15px;
  }

  .menu a{
    display: block;
    padding-top: 1rem;
  }


}